<input name="carColor" 
       style="background-color: {{carColor}};"
       value={{carColor}} />
       
<input name="caliperColor" 
       style="background-color: {{caliperColor}};"
       value={{caliperColor}} />

<input name="rimColor" 
       style="background-color: {{rimColor}};"
       value={{rimColor}} />

<div class="spinner-wrapper {{if all3dFilesLoaded 'shrink'}}">
  {{#unless all3dFilesLoaded}}
    <div class="spinner">
      <div class="spinner-circle spinner-circle-outer"></div>
      <div class="spinner-circle-off spinner-circle-inner"></div>
      <div class="spinner-circle spinner-circle-single-1"></div>
      <div class="spinner-circle spinner-circle-single-2"></div>
      <div class="text">loading</div>
    </div>
  {{/unless}}
</div>

<div id="stl_cont" class="stl_host"></div>