       
<ColorInput @colorName="carColor"
            @color={{carColor}}
            @updateColor={{action updateColor}} />

<ColorInput @colorName="caliperColor"
            @color={{caliperColor}}
            @updateColor={{action updateColor}} />

<ColorInput @colorName="rimColor"
            @color={{rimColor}}
            @updateColor={{action updateColor}} />

<ColorInput @colorName="chromeTrimColor"
            @color={{chromeTrimColor}}
            @updateColor={{action updateColor}} />

<ColorInput @colorName="headLightsColor"
            @color={{headLightsColor}}
            @updateColor={{action updateColor}} />

<div class="spinner-wrapper {{if all3dFilesLoaded 'shrink'}}">
  {{#unless all3dFilesLoaded}}
    <div class="spinner">
      <div class="spinner-circle spinner-circle-outer"></div>
      <div class="spinner-circle-off spinner-circle-inner"></div>
      <div class="spinner-circle spinner-circle-single-1"></div>
      <div class="spinner-circle spinner-circle-single-2"></div>
      <div class="text">loading</div>
    </div>
  {{/unless}}
</div>

<div id="stl_cont" class="stl_host"></div>