<input name="carColor" 
       style="background-color: {{carColor}};"
       value={{carColor}} />
       
<input name="caliperColor" 
       style="background-color: {{caliperColor}};"
       value={{caliperColor}} />

<input name="rimColor" 
       style="background-color: {{rimColor}};"
       value={{rimColor}} />

<div id="stl_cont" class="stl_host"></div>