<div class="editor-tools">       
  <ColorInput @colorName="carColor"
              @color={{carColor}}
              @updateColor={{action updateColor}} />

  <ColorInput @colorName="caliperColor"
              @color={{caliperColor}}
              @updateColor={{action updateColor}} />

  <ColorInput @colorName="rimColor"
              @color={{rimColor}}
              @updateColor={{action updateColor}} />

  <ColorInput @colorName="chromeTrimColor"
              @color={{chromeTrimColor}}
              @updateColor={{action updateColor}} />

  <ColorInput @colorName="headLightsColor"
              @color={{headLightsColor}}
              @updateColor={{action updateColor}} />

  <ColorInput @colorName="windowsColor"
              @color={{windowsColor}}
              @updateColor={{action updateColor}} />
</div>

<div class="spinner-wrapper {{if all3dFilesLoaded 'shrink'}}">
  {{#unless all3dFilesLoaded}}
    <div class="spinner">
      <div class="spinner-circle spinner-circle-outer"></div>
      <div class="spinner-circle-off spinner-circle-inner"></div>
      <div class="spinner-circle spinner-circle-single-1"></div>
      <div class="spinner-circle spinner-circle-single-2"></div>
      <div class="text">loading</div>
    </div>
  {{/unless}}
</div>

<div id="stl_cont" class="stl_host"></div>

<footer>
  <br>
  <a href="https://github.com/givanse/car-color-editor" target="_blank">
    Source Code
  </a>
  <br>
  <br>
  <a href="https://www.netlify.com" target="_blank">
    Deploys by Netlify
  </a>
</footer>
